<header class="fixed">
    <h1>{{eventName}}</h1>
</header>
<article class="content scrollable header">
    <p>{{errorMsg}}</p>
    <button class="recommend go-sign-up">{{goBackButtonLabel}}</button>
</article>
